/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
/*
 *= require_self
 */
$link-color: blue;

@import "twitter/bootstrap";

.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
}
.control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
  margin: 0;
}
.controls{
  margin-left: 160px;
}
.navbar-fixed-top h3 {
  margin: 2px 10px 0px 0px;
  padding: 0px;
  width: 123px;
  float: left;
}
.bs-nav {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(213, 213, 213);
  border-color: rgb(229, 229, 229);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.navbar-inverse .navbar-nav > li > a {
color: #000000; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #222222;
  background-color: rgb(193, 193, 193);
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #999;
  color: white; 
}


table.m{
  width: 750px;
}
.form-actions{
  padding: 17px 20px 18px;
  padding-left: 120px;
}
.tree-nav-node a{ color: #222222;}

.tree-nav-node {
  font-size: 12px;

}
table th, td{ word-break: keep-all;white-space:nowrap;}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 80px;
  color: rgb(119, 119, 119);
  text-align: center;
  border-top: 1px solid rgb(229, 229, 229);
}
.bs-footer p{
margin-bottom: 0px;
}

