/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
/*
 *= require bootstrap
 *= require_self
 */

.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
}
.control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.navbar-fixed-top h3 {
  margin: 2px 10px 0px 0px;
  padding: 0px;
  width: 123px;
  float: left;
}
