<ul class="list-group">
  <%- node_nav_tree.each do |name, node_id, count| -%>
    <li class="list-group-item">
    <span class="badge"><%= count %></span>
    <%= link_to name, nodecategory_path(node_id) %>
    </li>
  <%- end -%>
</ul>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Help 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>message</li>
        </ul>
      </div>
    </div>
  </div>


</div>
